## Задача

Необходимо выполнить анализ датасета, применив полученные знания из пройденных тем. Для анализа могут быть выбраны любые данные: как уже готовые датасеты из Kaggle или любого другого источника, так и самостоятельно собранные данные. Так как в задании предстоит использовать предсказание по временным рядам, то необходимо выбрать такой датасет, в котором признаки можно было агрегировать по времени. Работы выполняются индивидуально. Проект НЕ является обязательным.

## Критерии

    Сложность используемого датасета (2 балла) – датасет не должен быть игрушечный, самое лучшее, чтобы это были реальные данные, взятые из реальной задачи, максимально непредобработанные (например – логи посещения сайтов пользователями). В проекте можно работать как с одной таблицей, так и с несколькими.
    
    Первичный анализ данных (2 балла) – изучить и описать, как были собраны данные, какие признаки, типы переменных есть в датасете. Описать, как будет происходить исследование, какая цель вашего проекта.
    
    Предобработка данных (2 балла) – выполнить необходимую агрегацию данных, убрать лишние поля и объекты, дать пояснения, если в предобработке данных нет необходимости – написать, почему.
    
    Визуальный анализ данных (4 балла) – использовать различные типы графиков, чтобы описать данные, все должно сопровождаться комментариями: какие зависимости или интересные инсайты были получены.
    
    Проверка статистических гипотез (7 баллов) - сформулировать статистические гипотезы в данных и проверить их с помощью статистических критериев (например - если это временной ряд, то изучить, изменились ли средние до и после определённого периода, или можно сравнить данные из разных групп). Как минимум – проверить 2 статистические гипотезы, должен быть использован любой параметрический и любой непараметрический критерий. Каждый шаг должен сопровождаться комментариями (если используете параметрический критерий, обязательно показывать, что его использование допустимо и корректно), должны быть сделаны выводы.
    
    Построить предсказание временного ряда (5 баллов).
    
    Сделать выводы о проделанном исследовании (3 балла) - указать, какие инсайты были найдены, о чем свидетельствует сделанный прогноз и выводы, полученные в ходе проверки статистических гипотез.

Каждый из смысловых блоков прошу выделять в вашей работе соответствующими заголовками.

Форма предоставления
Jupyter-ноутбук. В названии ноутбука должна быть указана фамилия и название группы. 

Дедлайн
Все работы должны быть высланы до 04.12.2019 23:59:00 по МСК на почту k.izmailov@corp.mail.ru, c темой: Техносфера. Мини-проект. Группа <ваша группа>. <ваше имя и фамилия>

In [2]:
import pandas as pd

In [16]:
participants = pd.read_csv('openpowerlifting.csv', sep=',')
meetings = pd.read_csv('meets.csv', sep=',')

In [17]:
participants.head()

,MeetID,Name,Sex,Equipment,Age,Division,BodyweightKg,WeightClassKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Place,Wilks
0,0,Angie Belk Terry,F,Wraps,47.0,Mst 45-49,59.60,60,NaN,47.63,NaN,20.41,NaN,70.31,138.35,1,155.05
1,0,Dawn Bogart,F,Single-ply,42.0,Mst 40-44,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
2,0,Dawn Bogart,F,Single-ply,42.0,Open Senior,58.51,60,NaN,142.88,NaN,95.25,NaN,163.29,401.42,1,456.38
3,0,Dawn Bogart,F,Raw,42.0,Open Senior,58.51,60,NaN,NaN,NaN,95.25,NaN,NaN,95.25,1,108.29
4,0,Destiny Dula,F,Raw,18.0,Teen 18-19,63.68,67.5,NaN,NaN,NaN,31.75,NaN,90.72,122.47,1,130.47

In [18]:
meetings.head()

,MeetID,MeetPath,Federation,Date,MeetCountry,MeetState,MeetTown,MeetName
0,0,365strong/1601,365Strong,2016-10-29,USA,NC,Charlotte,2016 Junior & Senior National Powerlifting Cha...
1,1,365strong/1602,365Strong,2016-11-19,USA,MO,Ozark,Thanksgiving Powerlifting Classic
2,2,365strong/1603,365Strong,2016-07-09,USA,NC,Charlotte,Charlotte Europa Games
3,3,365strong/1604,365Strong,2016-06-11,USA,SC,Rock Hill,Carolina Cup Push Pull Challenge
4,4,365strong/1605,365Strong,2016-04-10,USA,SC,Rock Hill,Eastern USA Challenge

## Первичный анализ данных

In [30]:
participants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386414 entries, 0 to 386413
Data columns (total 14 columns):
MeetID            386414 non-null int64
Name              386414 non-null object
Sex               386414 non-null object
Equipment         386414 non-null object
Age               147147 non-null float64
Division          370571 non-null object
BodyweightKg      384012 non-null float64
WeightClassKg     382602 non-null object
BestSquatKg       298071 non-null float64
BestBenchKg       356364 non-null float64
BestDeadliftKg    317847 non-null float64
TotalKg           363237 non-null float64
Place             385322 non-null object
Wilks             362194 non-null float64
dtypes: float64(7), int64(1), object(6)
memory usage: 41.3+ MB

In [19]:
participants.describe()

,MeetID,Age,BodyweightKg,Squat4Kg,BestSquatKg,Bench4Kg,BestBenchKg,Deadlift4Kg,BestDeadliftKg,TotalKg,Wilks
count,386414.000000,147147.000000,384012.000000,1243.000000,298071.000000,1962.000000,356364.000000,2800.000000,317847.000000,363237.000000,362194.000000
mean,5143.015804,31.668237,86.934912,107.036404,176.569941,45.722905,118.347509,113.597193,195.040633,424.000249,301.080601
std,2552.099838,12.900342,23.140843,166.976620,69.222785,151.668221,54.848850,170.201657,61.580675,196.355147,116.360396
min,0.000000,5.000000,15.880000,-440.500000,-477.500000,-360.000000,-522.500000,-461.000000,-410.000000,11.000000,13.730000
25%,2979.000000,22.000000,70.300000,87.500000,127.500000,-90.000000,79.380000,110.000000,147.500000,272.160000,237.380000
50%,5960.000000,28.000000,83.200000,145.000000,174.630000,90.250000,115.000000,157.500000,195.000000,424.110000,319.660000
75%,7175.000000,39.000000,100.000000,212.500000,217.720000,167.500000,150.000000,219.990000,238.140000,565.000000,379.290000
max,8481.000000,95.000000,242.400000,450.000000,573.790000,378.750000,488.500000,418.000000,460.400000,1365.310000,779.380000

In [31]:
meetings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8482 entries, 0 to 8481
Data columns (total 8 columns):
MeetID         8482 non-null int64
MeetPath       8482 non-null object
Federation     8482 non-null object
Date           8482 non-null object
MeetCountry    8482 non-null object
MeetState      5496 non-null object
MeetTown       6973 non-null object
MeetName       8482 non-null object
dtypes: int64(1), object(7)
memory usage: 530.2+ KB

## Предобработка данных

Удалим столбцы Squat4Kg, Bench4Kg, Deadlift4Kg как малоинформативные

In [20]:
participants = participants.drop(['Squat4Kg', 'Bench4Kg', 'Deadlift4Kg'], axis=1)

Для удобства объединим две таблицы в одну (INNER JOIN) по столбцу MeetID

In [32]:
df = pd.merge(participants, meetings, on='MeetID').drop_duplicates()

## Визуальный анализ данных

In [33]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [46]:
int(df.loc[:0, 'Date'][0][:4])

2016